.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;   
    margin-bottom: 20px; 
    background-image: url('../images/fa-solid_file-download.svg');  
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 106px;   
}
.icon-check{
    display: block;
    margin-top: 4px;
    margin-left: 20px;
    background-image: url('../images/vector.svg');  
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;   
}

.icon-property{
    display: block; 
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;   
}
.icon-property--1{       
    background-image: url('../images/ant-design_file-text-filled_1.svg');     
}
.icon-property--2{   
    background-image: url('../images/bi_file-earmark-zip-fill_2.svg');     
}
.icon-property--3{    
    background-image: url('../images/carbon_user-avatar-filled_3.svg');    
}
.icon-property--4{   
    background-image: url('../images/bxs_calendar_4.svg');    
}
.icon-property--5{    
    background-image: url('../images/eos-icons_system-ok_5.svg');     
}
.icon-property--6{   
    background-image: url('../images/material-symbols_language_6.svg');   
}
.icon-property--7{   
    background-image: url('../images/healthicons_weight_7.svg');   
}
.icon-property--8{   
    background-image: url('../images/fa-solid_download_8.svg');   
}