.logo{            
    text-decoration: none;
    padding: 0px;
    margin: 0px;  
    color: rgba(255, 255, 255, 1);   
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;                                       
 }
   
    
 

