.menu-toggle{ 
    padding: 0;  
    cursor: pointer; 
    margin-left: auto;      
    min-width: 32px;
    min-height: 32px; 
    /* object-fit: contain; */
    /* object-position: center; */
   background-color: rgba(7, 8, 28, 1);     
   color: rgba(255, 255, 255, 1);      
    border: none;
    border-radius: 50%; 
    outline: none; 
}
