.mobile-menu {
    padding: 16px 20px 16px 21px;
    margin: 0; 
    max-width: 480px;      
    max-height: 568px; 
    background-image: url(../images/mobile.png);  
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center; 
    overflow: scroll;       
}

.mobile-menu__header{
    display: flex; 
    margin-bottom: 50px;   
}