.nav-mobile{
    margin-bottom: 302px;    
}
.nav-mobile__list{  
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;   
}
.nav-mobile__item{   
    margin-bottom: 16px; 
    height: 59px;    
}
.nav-mobile__item--about{ 
    margin-top: -59px;                           
}

.nav-mobile__link{ 
    margin: 0;
    padding: 0; 
    text-decoration: none;
    color: rgba(255, 255, 255, 1); 
        
   
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;

    &:hover,
    &:focus{   
        background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
    }
   
} 

.nav-mobile__link--about{     
    color:  rgba(0, 0, 0, 1);
    font-family: Montserrat;
    font-size: 32px; 
    font-weight: 700; 
    line-height: 39px; 
    letter-spacing: 0em;  
    text-align: center;     
 }

.nav-mobile__link--current{  
    margin-bottom: 12px; 
    background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}
